// Font
$font-main               : "Suisse Intl Book", helvetica, arial, sans-serif;
$font-med                : "Suisse Intl Medium", helvetica, arial, sans-serif;

// Values
$header-height           : 45px;

// Size
$font-size               : 14px;

// Main color
$color-main              : #fff;
$color-orange            : #ee2912;
$color-black             : #171b1c;

// Text Color
$text-color              : #000;    
$text-color-g            : #a3a4a8;   
$text-color-s            : #777;
$text-color-r            : $color-orange;
$text-color-gd           : #6b6b6b;

// Border Color
$color-border            : #dbdbdb;
$color-border-d          : #2c3032;

// Easing
$easing: cubic-bezier(.16, .04, .14, 1.04);